In [0]:
"""
configs = {"fs.azure.account.auth.type": "OAuth",
           "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
           "fs.azure.account.oauth2.client.id": dbutils.secrets.get(scope="my-scope", key="application-id"),
           "fs.azure.account.oauth2.client.secret": dbutils.secrets.get(scope="my-scope", key="application-secret"),
           "fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/" + dbutils.secrets.get(scope="my-scope", key="application-tenant-id") + "/oauth2/token"
}

#mouting storage container
dbutils.fs.mount(
  source = "abfss://shopease-container@shopeasestorage123.dfs.core.windows.net/",
  mount_point = "/mnt/shopease",
  extra_configs = configs)

"""

True

In [0]:
#load data

customers = spark.read.csv("/mnt/shopease/silver/data/customers.csv", header=True, inferSchema=True)
sales = spark.read.csv("/mnt/shopease/silver/data/sales.csv", header=True, inferSchema=True)

In [0]:
#Show data

customers.show()

+-----------+------------+----------+--------------------+----------------+-------------------+-----------+--------------------+------------+---------------+--------------+-------------------+
|customer_id|  first_name| last_name|               email|           phone|            address|       city|               state|     country|       zip_code| date_of_birth|      customer_type|
+-----------+------------+----------+--------------------+----------------+-------------------+-----------+--------------------+------------+---------------+--------------+-------------------+
|          1|        Leah|     Olson| leah.olson@iclou...|4.47402064176E11|    10 Jones Estate|    Centers|          Birmingham|  Birmingham| United Kingdom|       954 7MN|2002-10-20 00:00:00|
|          2|      Denise|     Green| denise.green@out...|4.47645225488E11|   52 Mosley Bridge|      Vista|          Birmingham|  Birmingham| United Kingdom|       708 9QR|1957-08-14 00:00:00|
|          3| Christopher|   Johnson| christopher.john...|4.47970361125E11|   18 Kelley Street|       Spur|            Solihull|  Birmingham| United Kingdom|       517 7MN|1970-12-10 00:00:00|
|          4|     Caitlin|      Cook| caitlin.cook@out...|4.47032480158E11|    40 Allen Bridge|       Hill|            Coventry|  Birmingham| United Kingdom|       404 2CD|1976-02-01 00:00:00|
|          5|       Frank|   Sanders| frank.sanders@ho...|4.47874005256E11|     12 Riggs Light|        Run|           Sheffield|   Sheffield| United Kingdom|       882 6KL|1968-11-16 00:00:00|
|          6|       Laura|    George| laura.george@icl...| 4.4703493894E11|   96 Oconnor Brook|        Via|      North Tyneside|   Newcastle| United Kingdom|       352 6KL|1998-11-28 00:00:00|
|          7|     Cynthia|    Torres| cynthia.torres@i...|4.47377836053E11|     77 Dean Rapids|     Canyon|      South Tyneside|   Newcastle| United Kingdom|       127 8OP|1971-04-17 00:00:00|
|          8|       Debra|     Smith| debra.smith@outl...|4.47814687241E11|    95 Burns Garden|    Station|             Enfield|      London| United Kingdom|       952 9QR|1967-09-29 00:00:00|
|          9|    Jennifer|   Barrera| jennifer.barrera...|4.47580018156E11|     47 Casey Light|   Causeway|           Liverpool|   Liverpool| United Kingdom|       771 6KL|1969-08-04 00:00:00|
|         10|      Jeremy|    Parker| jeremy.parker@ho...|4.47825125399E11|      99 Kelly Loaf|     Brooks|             Bristol|     Bristol| United Kingdom|       695 7MN|1968-09-28 00:00:00|
|         11|        Troy|      Rich| troy.rich@gmail.com|4.47761261207E11|        1 Tonya Run|     Valley|              Newark|  Nottingham| United Kingdom|       324 7MN|1998-11-06 00:00:00|
|         12|    Savannah|      Cook| savannah.cook@ic...|4.47379277293E11|  93 William Groves|    Prairie|           Gateshead|   Newcastle| United Kingdom|       711 4GH|1954-05-06 00:00:00|
|         13|       Jason|    Nelson| jason.nelson@hot...|4.47900987543E11|  54 Johnson Summit| Trafficway|           Rotherham|   Sheffield| United Kingdom|       307 4GH|1962-06-14 00:00:00|
|         14|        Anna|   Simpson| anna.simpson@hot...| 4.4774054754E11|    10 Rebecca Fort|    Valleys|               Wigan|  Manchester| United Kingdom|       565 2CD|1973-01-03 00:00:00|
|         15|     Anthony|     Lewis| anthony.lewis@ou...| 4.4799162956E11| 39 Donna Mountains|      Parks|           St Helens|   Liverpool| United Kingdom|       775 6KL|1976-01-20 00:00:00|
|         16|       Tammy|       Lee| tammy.lee@yahoo.com|4.47584399537E11|    37 Pamela Grove|  Stravenue|              Bolton|  Manchester| United Kingdom|       648 9QR|1968-03-19 00:00:00|
|         17|     Brandon|    Dudley| brandon.dudley@i...|4.47929617838E11|     87 Jones Ferry|    Parkway|           Doncaster|   Sheffield| United Kingdom|       688 8OP|1996-12-03 00:00:00|
|         18|        Ruth|    Harvey| ruth.harvey@outl...|4.47997864696E11|     7 Simmons Road|     Course|             Gosport| Southampton| United Kingdom|       595 7MN|1963-01-04 00:00:00|
|         19|      Sharon|  Mckinney| sharon.mckinney@...|4.47255288305E11|   61 Vincent Glens|      Parks|          New Forest| Southampton| United Kingdom|       491 5IJ|1958-07-13 00:00:00|
|         20|      Daniel|    Phelps| daniel.phelps@ho...|4.47290983599E11|   36 Smith Gateway|       Path| North East Somerset|     Bristol| United Kingdom|       387 9QR|1999-10-21 00:00:00|
+-----------+------------+----------+--------------------+----------------+-------------------+-----------+--------------------+------------+---------------+--------------+-------------------+
only showing top 20 rows

In [0]:
sales.show()

+-------+------------+-------------------+---------+-------------+----------------+---------------+
|sale_id| customer_id|          sale_date| store_id| total_amount| discount_amount| payment_method|
+-------+------------+-------------------+---------+-------------+----------------+---------------+
|      1|      5631.0|2022-12-08 00:00:00|      5.0|       481.42|            14.8|           Cash|
|      2|      2268.0|2024-03-13 00:00:00|      1.0|       258.69|           16.03|         PayPal|
|      3|      3775.0|2024-09-19 00:00:00|      9.0|       343.14|           41.95|           Cash|
|      4|      3536.0|2023-08-16 00:00:00|      2.0|       279.98|            7.99|         PayPal|
|      5|       957.0|2023-08-06 00:00:00|     10.0|       303.46|           22.51|         PayPal|
|      6|      6949.0|2024-04-09 00:00:00|      3.0|       140.74|            27.2|         PayPal|
|      7|      9489.0|2024-03-02 00:00:00|      9.0|       307.17|           38.54|           Cash|
|      8|      3794.0|2023-05-05 00:00:00|      1.0|        73.92|            30.3|    Credit Card|
|      9|      1079.0|2023-04-01 00:00:00|      8.0|        43.45|           49.77|    Credit Card|
|     10|      7428.0|2024-04-16 00:00:00|     10.0|       171.19|           40.47|           Cash|
|     11|      5544.0|2022-10-20 00:00:00|     10.0|       264.92|           35.47|    Credit Card|
|     12|      8858.0|2024-05-10 00:00:00|      5.0|       452.08|            2.93|           Cash|
|     13|      9668.0|2023-01-08 00:00:00|      8.0|       430.55|           30.34|           Cash|
|     14|      6286.0|2023-02-25 00:00:00|      2.0|        29.11|             1.2|         PayPal|
|     15|       356.0|2023-03-05 00:00:00|      8.0|       251.69|           15.15|     Debit Card|
|     16|       749.0|2024-02-05 00:00:00|      9.0|       103.89|            41.9|           Cash|
|     17|      5166.0|2024-09-03 00:00:00|      1.0|       317.77|            4.39|     Debit Card|
|     18|      3744.0|2024-01-04 00:00:00|      1.0|       206.93|           46.02|           Cash|
|     19|      2893.0|2023-12-15 00:00:00|      1.0|        233.5|            4.56|           Cash|
|     20|      3463.0|2023-06-19 00:00:00|      5.0|       241.43|           28.86|    Credit Card|
+-------+------------+-------------------+---------+-------------+----------------+---------------+
only showing top 20 rows

In [0]:
from pyspark.sql import functions as f
from pyspark.sql.functions import concat, concat_ws, lit, when, col, split

In [0]:
customers.columns

['customer_id',
 ' first_name',
 ' last_name',
 ' email',
 ' phone',
 ' address',
 ' city',
 ' state',
 ' country',
 ' zip_code',
 ' date_of_birth',
 ' customer_type']

In [0]:
#Remove trailing whitespace from the column names
customers = customers.toDF(*[c.strip() for c in customers.columns])

In [0]:
customers_split = customers.withColumn("customer_date_of_birth", split(customers["customer_type"], " ")[0]) \
                              .withColumn("customer_type", split(customers["customer_type"], " ")[1])

In [0]:
customers_split.show()

+-----------+------------+---------+--------------------+----------------+-------------------+-----------+--------------------+------------+---------------+-------------+-------------+----------------------+
|customer_id|  first_name|last_name|               email|           phone|            address|       city|               state|     country|       zip_code|date_of_birth|customer_type|customer_date_of_birth|
+-----------+------------+---------+--------------------+----------------+-------------------+-----------+--------------------+------------+---------------+-------------+-------------+----------------------+
|          1|        Leah|    Olson| leah.olson@iclou...|4.47402064176E11|    10 Jones Estate|    Centers|          Birmingham|  Birmingham| United Kingdom|      954 7MN|     00:00:00|            2002-10-20|
|          2|      Denise|    Green| denise.green@out...|4.47645225488E11|   52 Mosley Bridge|      Vista|          Birmingham|  Birmingham| United Kingdom|      708 9QR|     00:00:00|            1957-08-14|
|          3| Christopher|  Johnson| christopher.john...|4.47970361125E11|   18 Kelley Street|       Spur|            Solihull|  Birmingham| United Kingdom|      517 7MN|     00:00:00|            1970-12-10|
|          4|     Caitlin|     Cook| caitlin.cook@out...|4.47032480158E11|    40 Allen Bridge|       Hill|            Coventry|  Birmingham| United Kingdom|      404 2CD|     00:00:00|            1976-02-01|
|          5|       Frank|  Sanders| frank.sanders@ho...|4.47874005256E11|     12 Riggs Light|        Run|           Sheffield|   Sheffield| United Kingdom|      882 6KL|     00:00:00|            1968-11-16|
|          6|       Laura|   George| laura.george@icl...| 4.4703493894E11|   96 Oconnor Brook|        Via|      North Tyneside|   Newcastle| United Kingdom|      352 6KL|     00:00:00|            1998-11-28|
|          7|     Cynthia|   Torres| cynthia.torres@i...|4.47377836053E11|     77 Dean Rapids|     Canyon|      South Tyneside|   Newcastle| United Kingdom|      127 8OP|     00:00:00|            1971-04-17|
|          8|       Debra|    Smith| debra.smith@outl...|4.47814687241E11|    95 Burns Garden|    Station|             Enfield|      London| United Kingdom|      952 9QR|     00:00:00|            1967-09-29|
|          9|    Jennifer|  Barrera| jennifer.barrera...|4.47580018156E11|     47 Casey Light|   Causeway|           Liverpool|   Liverpool| United Kingdom|      771 6KL|     00:00:00|            1969-08-04|
|         10|      Jeremy|   Parker| jeremy.parker@ho...|4.47825125399E11|      99 Kelly Loaf|     Brooks|             Bristol|     Bristol| United Kingdom|      695 7MN|     00:00:00|            1968-09-28|
|         11|        Troy|     Rich| troy.rich@gmail.com|4.47761261207E11|        1 Tonya Run|     Valley|              Newark|  Nottingham| United Kingdom|      324 7MN|     00:00:00|            1998-11-06|
|         12|    Savannah|     Cook| savannah.cook@ic...|4.47379277293E11|  93 William Groves|    Prairie|           Gateshead|   Newcastle| United Kingdom|      711 4GH|     00:00:00|            1954-05-06|
|         13|       Jason|   Nelson| jason.nelson@hot...|4.47900987543E11|  54 Johnson Summit| Trafficway|           Rotherham|   Sheffield| United Kingdom|      307 4GH|     00:00:00|            1962-06-14|
|         14|        Anna|  Simpson| anna.simpson@hot...| 4.4774054754E11|    10 Rebecca Fort|    Valleys|               Wigan|  Manchester| United Kingdom|      565 2CD|     00:00:00|            1973-01-03|
|         15|     Anthony|    Lewis| anthony.lewis@ou...| 4.4799162956E11| 39 Donna Mountains|      Parks|           St Helens|   Liverpool| United Kingdom|      775 6KL|     00:00:00|            1976-01-20|
|         16|       Tammy|      Lee| tammy.lee@yahoo.com|4.47584399537E11|    37 Pamela Grove|  Stravenue|              Bolton|  Manchester| United Kingdom|      648 9QR|     00:00:00|            1968-03-19|
|         17|     Brandon|   Dudley| brandon.dudley@i...|4.47929617838E11|     87 Jones Ferry|    Parkway|           Doncaster|   Sheffield| United Kingdom|      688 8OP|     00:00:00|            1996-12-03|
|         18|        Ruth|   Harvey| ruth.harvey@outl...|4.47997864696E11|     7 Simmons Road|     Course|             Gosport| Southampton| United Kingdom|      595 7MN|     00:00:00|            1963-01-04|
|         19|      Sharon| Mckinney| sharon.mckinney@...|4.47255288305E11|   61 Vincent Glens|      Parks|          New Forest| Southampton| United Kingdom|      491 5IJ|     00:00:00|            1958-07-13|
|         20|      Daniel|   Phelps| daniel.phelps@ho...|4.47290983599E11|   36 Smith Gateway|       Path| North East Somerset|     Bristol| United Kingdom|      387 9QR|     00:00:00|            1999-10-21|
+-----------+------------+---------+--------------------+----------------+-------------------+-----------+--------------------+------------+---------------+-------------+-------------+----------------------+
only showing top 20 rows

In [0]:
#Dropping duplicate and null columns
customers_split = customers_split.drop("country", "customer_type")

In [0]:
#Renaming colunms
customers_renamed = customers_split.withColumnRenamed("zip_code", "country").withColumnRenamed("date_of_birth", "zip_code").withColumnRenamed("customer_date_of_birth", "date_of_birth")

In [0]:
sales = sales.toDF(*[c.strip() for c in sales.columns])

In [0]:
#Write the customers_renamed as a csv to storage
customers_point = "/mnt/shopease/gold/customers"
sales_point =  "/mnt/shopease/gold/sales"
customers_renamed.write.format("csv").option("header", "true").mode("overwrite").save(customers_point)
sales.write.format("csv").option("header", "true").mode("overwrite").save(sales_point)